body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #f9d949;
}

.main {
  width: 60%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

a {
  text-decoration: none;
  color: black;
}

nav div a {
  margin-right: 10px;
}

nav div a.active {
  color: #fff;
  background-color: #000;
  padding: 8px 8px;
  border-radius: 6px;
}

.post {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.date {
  color: #999;
  display: flex;
  align-items: center;
  gap: 2px;
}

.details {
  width: 80%;
  margin: auto;
}

.details img {
  width: 100%;
}

.detail-title {
  font-size: 30px;
  font-weight: 700;
}

.description {
  color: #222;
}

.clockIcon,
.arrowIcon {
  width: 20px;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-section {
  width: 60%;
  margin: auto;
}

.form-section p {
  font-size: 20px;
  font-weight: 700;
}

.form-section form div {
  margin-top: 20px;
}

.form-section form div label {
  display: block;
  font-size: 18px;
}

.form-section form div input,
textarea {
  width: 100%;
  border: 1px solid #222;
  font-size: 18px;
  padding: 8px 8px;
}

.btn {
  color: #fff;
  background-color: #000;
  padding: 10px 0px;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
}

.sm {
  width: max-content;
  padding: 8px 10px;
  font-size: 16px;
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.detail-footer {
  display: flex;
  align-items: center;
  flex: end;
}

.er-btn {
  width: max-content;
  font-size: 20px;
  padding: 8px;
  background: transparent;
  color: black;
}

.er-btn:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.er-icon {
  max-width: 8rem;
  color: red;
}

.errorPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.create-acc {
  font-size: 16px !important;
  font-weight: normal !important;
}

.create-acc a {
  text-decoration: underline !important;
}

.login-btn {
  margin: 20px 0;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader {
  margin-left: 200px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .main,
  .details,
  .form-section {
    width: 100%;
  }
}
